// main and body 
main {
    width:940px;
    margin:0 auto;
    padding:0 10px;
    @include break($laptop){
        width:768px;
    }
    @include break($tablet){
        width:460px;
    }
    @include break($mobile){
        width:300px;
    }
}
body {
    @include font_size(null,1em,2em);
    background:url($background_image) $header_white repeat-x;
    margin:0; 
    font-family: $bodyfont;

}